body {
  background:     unset;
  outline:    0.0rem solid hsla(1000, 0%, 0%, 0) ;
  margin:          unset;
  box-sizing:      unset;
  padding:         unset;
  color:           unset;
  text-decoration: unset;

}

.main_page {
	display: block;
	
	text-align: center;
}

#themeadow {
	margin-top: 20vh;
	max-height: 60vh;
}